<!DOCTYPE html>
<html lang="en">

</html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
</head>

<body>
  <h1>
    <%= data.header %>
  </h1>
  <p><strong>
      <%= data.titulo %>
    </strong><br>
    <%= data.mensaje %>
  </p>
  <% if (data.noButton==false) { %>
    <a href="<%= data.url %>" target="_blank">
      <%= data.accion %>
    </a>
    <% } %>
</body>

</html>